## Lab01: Collect and preprocess data

- Name: Trần Đình Nhật Trí
- Student code: 21120576

***
## How to do and submit your assignment

**Work on your assignment**

You will do your assignment directly in this notebook. First, fill in your name and ID at the beginning of the file. In the notebook, fill in places that say:
```python
#TODO
```

During your work, you can print out the result, create more cells to test, or create more functions to handle things. Please note that <font color=red>you are not allowed to delete or modify my code cells</font> (except in the case that mentioned above). Let remove `raise NotImplementedError("not implement")` when running code.

Always press `Ctrl + S` in order to save your work.

**Notes:** 

    *  Copy means zero
    *  You have to submit your work on time. No exception
    *  Any questions about your grade are based on the assignment submitted on Moodle
    *  Wrong submission takes you -2 points

**Submission guideline**

When grading your assignment, I will choose `Kernel` - `Restart Kernel & Run All Cells` in order to restart the kernel and run all cells in your notebook. Therefore, you should do that before submitting to ensure that the outputs are all as expected.

After that, you make a submited direction as follow:

- Folder `StudentCode` (e.g. If your student code is 1234567, then your folder is `1234567`)
    - File `<StudentCode>.ipynb` (e.g. If your student code is 1234567, then your file is `1234567.ipynb`)

Finally, you compress your folder (`StudentCode`) and submit on Moodle. **The extension of the file is nothing else but `.zip`.**

<font color=red>Please strictly follow the submission rules.</font>

# 1. Set-up environment

In [1]:
#Necessary Packages
import time
import requests
import numpy as np
import pandas as pd 
from bs4 import BeautifulSoup
# YOUR CODE HERE (OPTION) 
# If you need other support packages

# 2. Collect data from a website by parsing HTML (3p)

In this section, you are going to collect data from a website simulating the sale of Pokemon. I have prepared all the needed links in a file (`pokemon.txt`), and you have to crawl data from these links. The expected output is a `dataframe` with the following fields:

+ `SKU`: ID of Pokemon
+ `Name`: Name of Pokemon
+ `Price`: Price of Pokemon 
+ `InStock`: Quantity of Pokemons in stock
+ `Categories`: The category of Pokemon
+ `Tags`: Tags of Pokemon

Your mission is to complete function `collect_data` with `course_urls_file` as your input parameter. The output should look like `pokemon_example.csv` (I list out some examples so you can easily imagine your work).

In [2]:
pokemon_example = pd.read_csv('pokemon_example.csv')
pokemon_example

,SKU,Name,Price,InStock,Categories,Tags
0,4391,Bulbasaur,63.0,45,"Pokemon, Seed","bulbasaur, Overgrow, Seed"
1,7227,Ivysaur,87.0,142,"Pokemon, Seed","ivysaur, Overgrow, Seed"
2,7036,Venusaur,105.0,30,"Pokemon, Seed","Overgrow, Seed, venusaur"
3,9086,Charmander,48.0,206,"Lizard, Pokemon","Blaze, charmander, Lizard"
4,6565,Charmeleon,165.0,284,"Flame, Pokemon","Blaze, charmeleon, Flame"

In [9]:
def collect_data(course_urls_file):
    #load paths from file
    url_file = open(course_urls_file)
    urls = url_file.readlines()
    urls_filtered = [item[:-1] for item in urls]
    
    #init empty list to store the values of each attribute.
    SKU = []
    Names = []
    Prices = []
    InStocks = []
    Categories = []
    Tags = []
    
    for url in urls_filtered:
        #TODO
        # request url to get data as string
        item = requests.get(url)
        # parse the above string into html format
        doc = BeautifulSoup(item.text, "html.parser")
        
        # get span tag for each attribute
        
        # sku tag
        spanSKU = doc.find('span', {'class': 'sku'})
        
        # price tag
        pPrice = doc.find('p', {'class': 'price'})
        span = pPrice.find('span', {'class': 'woocommerce-Price-amount amount'})
        price = span.get_text()
        price = float(price[1:])
        
        # in stock tag
        pInStock = doc.find('p', {'class': 'stock in-stock'})
        
        # categories tag
        spanCats = doc.find('span', {'class': 'posted_in'})
        aCats = spanCats.find_all('a')
        cats = []
        # add each category to categories list
        for category in aCats:
            cats.append(category.text)
        cats = ", ".join(cats)
         
        # tags tag
        spanTags = doc.find('span', {'class': 'tagged_as'})
        aTags = spanTags.find_all('a')
        tags = []
        # add each tag to tags list
        for tag in aTags:
            tags.append(tag.text)
        tags = ", ".join(tags)
        
        # append new data to attributes
        SKU.append(spanSKU.string)        
        Names.append(doc.title.string[:-11])
        Prices.append(price)
        InStocks.append(int(pInStock.text[:-9]))
        Categories.append(cats)
        Tags.append(tags)
    
    # save it to dataframe
    data = pd.DataFrame({"SKU": SKU,
                         "Name": Names,
                         "Price": Prices, 
                         "InStock": InStocks,
                         "Categories": Categories,
                         "Tags": Tags})
    
    return data

In [10]:
#TEST
data_pokemon = collect_data("pokemon.txt") 
assert data_pokemon.shape == (755, 6)

In [11]:
#Save to csv file with name pokemon.csv
data_pokemon.to_csv('pokemon.csv')

In [12]:
# show the output
data_pokemon

,SKU,Name,Price,InStock,Categories,Tags
0,4391,Bulbasaur,63.0,45,"Pokemon, Seed","bulbasaur, Overgrow, Seed"
1,7227,Ivysaur,87.0,142,"Pokemon, Seed","ivysaur, Overgrow, Seed"
2,7036,Venusaur,105.0,30,"Pokemon, Seed","Overgrow, Seed, venusaur"
3,9086,Charmander,48.0,206,"Lizard, Pokemon","Blaze, charmander, Lizard"
4,6565,Charmeleon,165.0,284,"Flame, Pokemon","Blaze, charmeleon, Flame"
...,...,...,...,...,...,...
750,1160,Marshadow,107.0,250,"Gloomdweller, Pokemon","Gloomdweller, marshadow, Technician"
751,1771,Poipole,130.0,21,"Poison Pin, Pokemon","Beast Boost, poipole, Poison Pin"
752,9798,Naganadel,30.0,255,"Poison Pin, Pokemon","Beast Boost, naganadel, Poison Pin"
753,1947,Stakataka,190.0,210,"Pokemon, Rampart","Beast Boost, Rampart, stakataka"
754,8843,Blacephalon,149.0,205,"Fireworks, Pokemon","Beast Boost, blacephalon, Fireworks"

# 3. Collect data using Web API (4p)

In this section, your work is to practice to crawl data using Web API (http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL). This is the data of World Bank which includes demographic data and other statistics related to Population, Employment, Health, GDP, Energy Consumption,... for all countries in the world from 1960 to 2022.

From the following selected indicators:
- `SP.POP.TOTL` - Total population
- `SP.POP.TOTL.FE.IN` - Total female population
- `SP.POP.TOTL.MA.IN` - Total male population
- `SP.DYN.CBRT.IN` - Birth rate
- `SP.DYN.CDRT.IN` - Death rate
- `SP.DYN.LE00.MA.IN` - Average life expectancy of male
- `SP.DYN.LE00.FE.IN` - Average life expectancy of female
- `SE.PRM.ENRR` - Primary school enrollment rate
- `SE.TER.ENRR` - High school enrollment rate
- `SE.PRM.CMPT.ZS` - Primary completion rate
- `SE.ADT.1524.LT.ZS` - Literacy rate of people ages 15-24

You are required to collect data from 7 countries and save to dataframe `data_countries`:
- `US` - United States of America
- `IN` - India
- `CN` - China
- `JP` - Japan
- `CA` - Canada
- `GB` - Great Britain
- `ZA` - South Africa

You can expand your work on collecting data (such as collecting data from other countries and other indicators) by reading: https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-api-documentation

**Hints**:

- Use the based URL: http://api.worldbank.org/v2/
- In order to collect data for each indicator of each country, you can use the URL: "http://api.worldbank.org/v2/countries/{country_code}/indicators/{indicator_code}"
    + `country_code` and `indicator_code` are provided above.
    + For example, you can use the following URL to get the `Total population` of Japan: http://api.worldbank.org/v2/countries/jp/indicators/SP.POP.TOTL

In [13]:
data_countries_examples = pd.read_csv("countries_example.csv")
data_countries_examples

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,333287557.0,168266219.0,165021339.0,None,None,None,None,None,None,None,None,2022,USA
1,332031554.0,167550001.0,164481553.0,11.0,10.4,73.5,79.3,None,None,None,None,2021,USA
2,331511512.0,167203010.0,164308503.0,10.9,10.3,74.2,79.9,100.305793762207,87.5676574707031,100.923667907715,None,2020,USA
3,328329953.0,165599805.0,162730147.0,11.4,8.7,76.3,81.4,100.981300354004,87.8887100219727,100.489051818848,None,2019,USA
4,326838199.0,164926348.0,161911851.0,11.6,8.678,76.2,81.2,101.256561279297,88.2991790771484,100.092697143555,None,2018,USA
5,325122128.0,164151818.0,160970309.0,11.8,8.638,76.1,81.1,101.821441650391,88.1673889160156,98.8321990966797,None,2017,USA
6,323071755.0,163224028.0,159847727.0,12.2,8.493,76.1,81.1,101.362861633301,88.8350524902344,None,None,2016,USA
7,320738994.0,162158414.0,158580581.0,12.4,8.44,76.3,81.2,100.299911499023,88.8894119262695,None,None,2015,USA
8,318386329.0,161084758.0,157301571.0,12.5,8.237,76.5,81.3,99.6733779907227,88.6268692016602,None,None,2014,USA
9,316059947.0,160034189.0,156025758.0,12.4,8.215,76.4,81.2,99.455436706543,88.7264175415039,None,None,2013,USA

In [14]:
BASE_URL = 'http://api.worldbank.org/v2/'
COUNTRIES = ["US", "IN", "CN", "JP", "CA", "GB", "ZA"]
INDICATORS = ['SP.POP.TOTL', 
             'SP.POP.TOTL.FE.IN', 
             'SP.POP.TOTL.MA.IN',
             'SP.DYN.CBRT.IN', 
             'SP.DYN.CDRT.IN',
             'SP.DYN.LE00.MA.IN',
             'SP.DYN.LE00.FE.IN',
             'SE.PRM.ENRR',
             'SE.TER.ENRR',
             'SE.PRM.CMPT.ZS',
             'SE.ADT.1524.LT.ZS']

#TODO (option)
# If you need other initializations

# group api attributes of each country to a list
apiUS = [BASE_URL + 'countries' + '/us' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiIN = [BASE_URL + 'countries' + '/in' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiCN = [BASE_URL + 'countries' + '/cn' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiJP = [BASE_URL + 'countries' + '/jp' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiCA = [BASE_URL + 'countries' + '/ca' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiGB = [BASE_URL + 'countries' + '/gb' + '/indicators/' + endpoint for endpoint in INDICATORS]
apiZA = [BASE_URL + 'countries' + '/za' + '/indicators/' + endpoint for endpoint in INDICATORS]

# create a dictionary for easily processing
countries_api = ({'us': apiUS, 
                  'in': apiIN,
                  'cn': apiCN, 
                  'jp': apiJP, 
                  'ca': apiCA,
                  'gb': apiGB,
                  'za': apiZA})

# change each country to lower case for easily parsing url
COUNTRIES = [country.lower() for country in COUNTRIES]

In [15]:
# create attribute list
attributes = ['Total Population', 
        'Female Population',
        'Male Population', 
        'Birth Rate',
        'Death Rate', 
        'Male life expectancy', 
        'Female life expectancy', 
        'School enrollment, primary', 
        'School enrollment, tertiary', 
        'Primary completion rate', 
        'Literacy rate', 
        'Year',
        'Country']

def collect_data(countryCode, per_page, start_year, end_year):
    # create empty data frame
    collect = pd.DataFrame()
    
    # check if year and country were filled
    is_fill = False
    years = []
    countries = []
    for api_index in range(0, len(countries_api[countryCode])):
        api = countries_api[countryCode][api_index]
        # request api to get data
        url = f'{api}?per_page={per_page}&format=json'
        response = requests.get(url)
        if response.status_code == 200:
            json_data = response.json()
            # store attribute to list
            attribute = []
            # iterate each data in json body
            for data in json_data[1]:
                # get year
                year = int(data["date"])
                # get country
                country = data["countryiso3code"]
                if year >= start_year and year <= end_year:
                    value = str(data["value"])
                    if value == 'None':
                        attribute.append('None')
                    else:
                        attribute.append(float(value))
                    if is_fill == False:
                        years.append(year)
                        countries.append(country)

                else:
                    pass
                
        is_fill = True
        # store attribute to the collect data frame
        collect[attributes[api_index]] = attribute
    # store year and country to data frame
    collect['Year'] = years
    collect['Country'] = countries
    
    return collect

In [16]:
def Generate_Countries_Dataset(countryCode_list):
    data = pd.DataFrame()
    for countryCode in countryCode_list:
        data = pd.concat([data, collect_data(countryCode = countryCode, per_page = 100, start_year = 2000, end_year = 2022)], axis=0)
    return data

In [17]:
#TEST
data_countries = Generate_Countries_Dataset(COUNTRIES)
assert data_countries.shape == (161, 13)

In [18]:
# Save to csv file with name coutries.csv
data_countries.to_csv('countries.csv')

In [19]:
data_countries

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,333287557.0,168266219.0,165021339.0,None,None,None,None,None,None,None,None,2022,USA
1,332031554.0,167550001.0,164481553.0,11.0,10.4,73.5,79.3,None,None,None,None,2021,USA
2,331511512.0,167203010.0,164308503.0,10.9,10.3,74.2,79.9,100.305794,87.567657,100.923668,None,2020,USA
3,328329953.0,165599805.0,162730147.0,11.4,8.7,76.3,81.4,100.9813,87.88871,100.489052,None,2019,USA
4,326838199.0,164926348.0,161911851.0,11.6,8.678,76.2,81.2,101.256561,88.299179,100.092697,None,2018,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,48556071.0,25379489.0,23176582.0,21.261,12.947,51.891,55.721,106.446632,None,95.654922,None,2004,ZAF
19,48104048.0,25178665.0,22925383.0,20.473,12.657,51.97,56.232,105.426369,None,90.579948,None,2003,ZAF
20,47661514.0,24979734.0,22681781.0,20.04,11.784,53.191,57.668,103.968452,None,86.340828,None,2002,ZAF
21,47229714.0,24781908.0,22447806.0,20.392,10.871,54.565,59.47,101.990463,None,None,None,2001,ZAF
22,46813266.0,24591889.0,22221377.0,20.705,10.174,55.397,61.049,101.489212,None,81.042252,None,2000,ZAF